.details-page-container {
  background-color: black;
  color: white;
  padding: 70px 40px 0 40px;
}

.image-description-calendar {
  display: flex;
  flex-direction: row;
}

.image-and-description {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-wrapper {
  position: relative;
  min-width: 200px;
}

.image-container img {
  max-width: 1150px;
  max-height: 750px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.image-nav-button:first-child {
  left: 0;
}

.image-nav-button:last-child {
  right: 0;
}

.description {
  min-height: 100px;
  padding: 15px;
}

.calendar-and-details {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.date-picker-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  max-height: 300px;
}

.date-picker-container input {
  width: 250px;
  font-size: 16px;
  box-sizing: border-box;
}

.date-picker-container button {
  width: 250px;
}

.motorcycle-details {
  padding: 20px;
  color: #fff;
  margin-top: 20px;
  justify-items: center;
}

.textarea-container {
  width: 65%;
}

textarea {
  width: 100%;
  height: 8vh;
  resize: none;
  font-size: 16px;
  box-sizing: border-box;
}

.submit-review-button {
  font-size: 16px;
}

.submit-review-button:hover {
  cursor: pointer;
}