.signup-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-modal label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-modal form label {
  font-size: 18px; 
}

.signup-modal input {
  margin: 10px;
  width: 300px;
  padding: 5px;
}

.signup-modal button {
  display: block;
  margin: 15px auto;
  width: 125px;
  height: 30px;
  font-size: 1em;
  background-color: black;
  color: white;
}

.signup-modal button:hover {
  cursor: pointer;
}