.logout-account-button {
  margin-top: 10px;
  background-color: black;
  color: white;
  width: 70%;
  font-size: 16px;
}

.delete-account-button {
  margin-top: 10px;
  background-color: black;
  color: white;
  width: 70%;
  font-size: 16px;
}